﻿/* Box-sizing */
html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}

body {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}
h1 {
	margin-bottom: 48px;
	font-size: 48px;
	text-align: center;
}
h2 {
	margin-bottom: 32px;
	font-size: 32px;
	text-align: center;
}
h3 {
	margin-bottom: 24px;
	font-size: 24px;
	line-height: 32px;
}
p {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 24px;
}
code {
	font-family: 'Lucida Console', 'Consolas', monospace;
}
ul {
	margin-bottom: 16px;
	list-style-type: disc;
	list-style-position: inside;
}
/* Layout */
section {
	padding: 40px;
	border-bottom: 1px solid rgb(137, 145, 147); /* gray */
	background-color: rgb(255, 255, 255);
}
section:nth-of-type(even) {
	background-color: rgb(242, 242, 242);
}

.blocker {
	display: block !important;
	margin: 5px;
	background-color: lightblue;
}
.inliner {
	display: inline;
	margin: 2px;
	background-color: yellow;
}

button {
	width: 200px;
	height: 50px;
}

/*********************
 * Details / Summary *
 *********************/
details,
details > summary {
	margin-bottom: 20px;
	line-height: 38px;
}
details > summary:focus {
	outline: 1px dotted blue;
}

details > summary > h1,
details > summary > h2,
details > summary > h3,
details > summary > h4,
details > summary > h5,
details > summary > h6 {
	line-height: inherit; /* follow summary's line-height so that the arrow appears at the correct location */
}

/* Normalize arrow across browsers */
/*
summary::-webkit-details-marker {display: none;}
details > summary::before {
	content:'►';
	float: left;
	clear: both;
	margin-right: 5px;
	color: rgb(38, 38, 38);
}
details[open] > summary::before {
	content:'▼';
}
*/