/*****************
 * Custom resets *
 *****************/
/* Box-sizing */
html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}

/* FF fix for form element sizes*/
button::-moz-focus-inner{border:0;padding:0;margin-top:-2px;margin-bottom:-2px;}
input::-moz-focus-inner{border:0;padding:0;margin-top:-2px;margin-bottom:-2px;}

/********* Colors **************
 black        - 0, 0, 0
 darker gray  - 39, 40, 41
 dark gray    - 69, 70, 71
 gray         - 113, 115, 117
 light gray   - 175, 178, 181
 lighter gray - 236, 240, 244
 off white    - 248, 250, 252
 white        - 255, 255, 255

 dark blue    - 37, 95, 148
 blue         - 77, 137, 191
 light blue   - 128, 187, 227
 lighter blue - 180, 217, 250
 
 green        - 140, 243, 189
 salmon       - 243, 150, 140
 peach        - 255, 211, 155
 yellow       - 255, 245, 152
 lavendar     - 176, 152, 255
*******************************/

/*********
 * Fonts *
 *********/
/* Raleway - Sans (no italics) */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url('/fonts/raleway-regular.woff2') format('woff2'), url('/fonts/raleway-regular.woff') format('woff');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: local('Raleway Bold'), local('Raleway-Bold'), url('/fonts/raleway-bold.woff2') format('woff2'), url('/fonts/raleway-bold.woff') format('woff');
}

/* Arimo - Sans (Arial replacement) */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo'), url('../../fonts/arimo-regular.woff2') format('woff2'), url('/fonts/arimo-regular.woff') format('woff');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  src: local('Arimo Bold'), local('Arimo-Bold'), url('../../fonts/arimo-bold.woff2') format('woff2'), url('/fonts/arimo-bold.woff') format('woff');
}
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 400;
  src: local('Arimo Italic'), local('Arimo-Italic'), url('../../fonts/arimo-italic.woff2') format('woff2'), url('/fonts/arimo-italic.woff') format('woff');
}
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 700;
  src: local('Arimo Bold Italic'), local('Arimo-BoldItalic'), url('../../fonts/arimo-bold-italic.woff2') format('woff2'), url('/fonts/arimo-bold-italic.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url('../../fonts/inconsolata-regular.woff2') format('woff2'), url('/fonts/inconsolata-regular.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'), url('../../fonts/inconsolata-bold.woff2') format('woff2'), url('/fonts/inconsolata-bold.woff') format('woff');
}

/**************
 * Typography *
 **************/
body {
	font-family: 'Arimo', Arial, Helvetica, sans-serif;
	color: rgb(39, 40, 41); /* darker gray */
}

/*** Headings ***/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	color: rgb(113, 115, 117); /* gray */
	letter-spacing: 0.25px;
}
h1 {
	border-bottom: 1px solid rgb(236, 240, 244); /* lighter gray */
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

/*** Inline Styles ***/
strong {
	font-weight: bold;
	white-space: nowrap;
}
b {
	font-weight: bold;
}
em, cite, i {
	font-style: italic;
}
mark {
	background-color: rgb(255, 245, 152); /* yellow */
}
s {
	text-decoration: line-through;
}

a {
	color: rgb(37, 95, 148); /* dark blue */
	text-decoration: none;
	outline: none;
	cursor: pointer;
	transition: color 0.2s;
}	
a:hover,
a:focus {
	color: rgb(77, 137, 191); /* blue */
	text-decoration: dashed underline;
}
a:active {
	color: rgb(37, 95, 148); /* dark blue */
	text-decoration: dashed underline;
}

q {
	quotes: "“" "”" "‘" "’";
	font-style: italic;
}
q::before {
	content: open-quote;
}
q::after {
	content: close-quote;
}
code, samp {
	background-color: rgba(69, 70, 71, 0.2); /* dark gray */
	font-family: 'Incosolata', 'Consolas', monotype;
}
kbd {
	padding: 0 4px;
	border: 1px dotted rgb(175, 178, 181); /* light gray */
	background-color: rgb(236, 240, 244); /* lighter gray */
	font-family: 'Incosolata', 'Consolas', monotype;
}
time, abbr {
	white-space: nowrap;
}

/*** Text Selection ***/
::selection {
	background: rgb(128, 187, 227); /* light blue */
	color: rgb(69, 70, 71); /* dark gray */
}
::-moz-selection {
	background: rgb(128, 187, 227); /* light blue */
	color: rgb(69, 70, 71); /* dark gray */
}

/*********
 * Lists *
 *********/
ul > li::before,
ol > li::before {
	display: inline-block;
	vertical-align: top;
}

/*** Ordered List ***/
ol {
	counter-reset: ol1;
}
ol > li::before {
	counter-increment: ol1;
	content: counter(ol1, decimal)". ";
}
ol ol { /* Nested Ordered List */
	counter-reset: ol2;
}
ol ol > li::before {
	counter-increment: ol2;
	content: counter(ol2, lower-alpha)") ";
}
ol ol ol { /* Double-Nested Ordered List */
	counter-reset: ol3;
}
ol ol ol > li::before {
	counter-increment: ol3;
	content: counter(ol3, lower-roman)". ";
}

/*** Unordered List ***/
ul > li::before {
	content: "•";
}
ul ul > li::before {
	content: "-";
}
ul ul ul > li::before {
	content: "±";
}

/*** Definition List ***/
dt {
	text-decoration: underline;
}
dt::after {
	content: ". ";
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
}
dd {
	font-style: italic;
}

/***********
 * Figures *
 ***********/
figure > img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
figcaption {
	font-style: italic;
	color: rgb(88, 89, 91); /* dark gray */
}

/****************
 * Block Quotes *
 ****************/
blockquote {
	position: relative;
	box-shadow: 1px 1px 5px rgba(69, 70, 71, 0.5); /* dark gray */
	background-color: rgb(236, 240, 244); /* lighter gray */
	font-style: italic;
	border-left-style: solid;
	border-left-color: rgb(175, 178, 181); /* light gray */
}
blockquote::before {
	content: '“';
	display: block;
	height: 0;
	color: rgb(69, 70, 71); /* dark gray */
}
blockquote > footer {
	font-style: normal;
	text-align: right;
}

/***************
 * Block Codes *
 ***************/
pre {
	overflow: auto;
	box-shadow: 1px 1px 5px rgba(69, 70, 71, 0.5); /* dark gray */
	background-color: rgb(69, 70, 71); /* dark gray */
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}
pre > code {
	background-color: transparent;
	color: rgb(236, 240, 244); /* lighter gray */
}

/**********
 * Tables *
 **********/
table {
	position: relative;
}
table.processing::after {
	content:"";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* black */
	background-image: url('/img/ui/loading-spikes-4D89BF.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
}
tr:nth-of-type(odd) {
	background-color: rgb(255, 255, 255); /* white */
}
tr:nth-of-type(even) {
	background-color: rgb(248, 250, 252); /* off white */
}
th {
	background-color: rgb(77, 137, 191); /* blue */
	font-weight: bold;
	color: rgb(255, 255, 255); /* white */
}
th, td {
	border: 1px solid rgb(236, 240, 244); /* lighter gray */
}

/*** Sortable Table ***/
.sortable-table th {
	cursor: pointer;
	font-weight: normal;
	transition: background-color 0.2s;
}
.sortable-table th::after {
	content: "";
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	font-size: 10px;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}
.sortable-table th:hover {
	background-color: rgb(128, 187, 227); /* light blue */
}
.sortable-table th.sort-selected {
	background-color: rgb(128, 187, 227); /* light blue */
}
.sortable-table th.sort-selected::after {
	content:"▲"; /* Unicode up arrow U+25B2 */
}
.sortable-table th.sort-selected.desc::after {
	content:"▼"; /* Unicode down arrow U+25BC */
}

/*******************
 *    Addresses    *
 *******************/
address a {
	color: rgb(69, 70, 71); /* dark gray */
	white-space: nowrap;
}
address a::before {
	content:"";
	background-repeat: no-repeat;
	background-position: left center;
}
address a.location::before {
	background-image: url('/img/ui/map-pin-454647.svg');
}
address a.postal::before {
	background-image: url('/img/ui/postal-454647.svg');
}
address a.email::before {
	background-image: url('/img/ui/mail-454647.svg');
}
address a.phone::before {
	background-image: url('/img/ui/phone-454647.svg');
}

/****************
 *  Accordions  *
 ****************/
.accordion {
	overflow: hidden;
}
.accordion > h2:first-child,
.accordion > h3:first-child {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.accordion > h2:first-child::after {
	content: "▶"; /* Unicode right arrow U+25B6 */
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	font-size: 18px;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}
.accordion > h3:first-child::after {
	content: "▶"; /* Unicode right arrow U+25B6 */
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	font-size: 18px;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}
.accordion.expanded {
	max-height: none; /* remember to set max height for each resolution */
}
.accordion.expanded > h2:first-child::after {
	content:"▼"; /* Unicode down arrow U+25BC */
}
.accordion.expanded > h3:first-child::after {
	content:"▼"; /* Unicode down arrow U+25BC */
}

/*****************
 * Context Menus: TODO 
 *****************/
.context-menu {
	visibility: hidden;
	position: absolute;
	height: 0;
	width: 200px; /* TEST */
	overflow: hidden;
	border-radius: 5px;
}
.context-menu.shown {
	visibility: visible;
	height: auto;
}
.context-menu-item {
	padding: 0 10px;
	height: 50px;
	width: 100%;
	line-height: 50px;
	background-color: rgb(236, 240, 244); /* lighter gray */
}
.context-menu-item:hover {
	background-color: rgb(175, 178, 181); /* light gray */
	box-shadow: 0 0 1px rgb(236, 240, 244); /* lighter gray */
}

/***************************
 *  Other  Block Elements  *
 ***************************/
hr {
	height: 1px;
	border: none;
	background-color: rgb(236, 240, 244); /* lighter gray */
}

/****************
 * Nav elements *
 ****************/
nav {
	white-space: nowrap;
}
nav > a {
	display: block;
	border-bottom: none;
	background-repeat: no-repeat;
	color: rgb(236, 240, 244); /* lighter gray */
	white-space: nowrap;
	transition: background-color 0.1s;
}
nav > a:focus,
nav > a:hover {
	outline: none;
	background-color: rgb(77, 137, 191); /* blue */
	color: rgb(236, 240, 244); /* lighter gray */
	transition: background-color 0.2s;
}

nav > a:active,
nav > a.current 
{	outline: none;
	background-color: rgb(37, 95, 148); /* dark blue */
	color: rgb(236, 240, 244); /* lighter gray */
	transition: background-color 0.2s;
}

nav > hr {
	background-color: rgb(113, 115, 117); /* gray */
}

nav > a {
	background-image: url('/img/ui/question-ECF0F4.svg'); /* default icon */
}
nav > a[href="/dashboard"] {
	background-image: url('/img/ui/home-ECF0F4.svg');
}
nav > a[href="/static-content"] {
	background-image: url('/img/ui/world-ECF0F4.svg');
}
nav > a[href="/members"] {
	background-image: url('/img/ui/people-ECF0F4.svg');
}
nav > a[href="/staffs"] {
	background-image: url('/img/ui/group-ECF0F4.svg');
}
nav > a[href="/account"] {
	background-image: url('/img/ui/person-ECF0F4.svg');
}
nav > a[href="/settings"] {
	background-image: url('/img/ui/gear-ECF0F4.svg');
}
nav > a[href="/help"] {
	background-image: url('/img/ui/question-ECF0F4.svg');
}
nav > a.logout-link {
	background-image: url('/img/ui/logout-ECF0F4.svg');
}

/*** Main Nav ***/
.main-nav {
	background-color: rgb(39, 40, 41); /* darker gray */
}
.main-nav > a {
	text-align: left;
	text-decoration: none;
}

/*** Sub Nav ***/
.sub-nav {
	background-color: rgb(39, 40, 41); /* darker gray */
}
.sub-nav::after { /* Hamburger menu */
	content: "";
	display: block;
	background-color: rgb(39, 40, 41); /* darker gray */
	background-image: url('/img/ui/menu-ECF0F4.svg');
	background-position: center;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.sub-nav > a {
	text-align: left;
	text-decoration: none;
}

/*** Aux Nav ***/
.aux-nav {
	background-color: rgb(69, 70, 71); /* dark gray */
	box-shadow: 0 0 3px rgb(175, 178, 181); /* light gray */
}
.aux-nav > a {
	text-align: left;
	text-decoration: none;
}

/*****************************
 *  Special Links (Anchors)  *
 *****************************/
/*** Arrow Links ***/
.forward-link::after {
	content: "▶"; /* Unicode right arrow U+25B6 */
	display: inline-block;
	vertical-align: top;
	font-size: 10px;
	margin-left: 8px;
}

.backward-link::before {
	content: "◀"; /* Unicode left arrow U+25C0 */
	display: inline-block;
	vertical-align: top;
	font-size: 10px;
	margin-right: 8px;
}

/*** Button Links (links that look like buttons) ***/
.button-link { /* ensure same styles as button */
	display: inline-block;
	vertical-align: top;
	padding: 0 20px; 
	border-radius: 2px;
	background-color: rgb(77, 137, 191); /* blue */
	color: rgb(255, 255, 255); /* white */
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	outline: none;

	transition: background-color 0.1s;
}
.button-link::after {
	content: "▶"; /* Unicode right arrow U+25B6 */
	display: inline-block;
	vertical-align: top;
	font-size: 10px;
	margin-left: 8px;
}
.button-link:focus,
.button-link:hover {
	box-shadow: 0 0 2px rgb(180, 217, 250); /* lighter blue */
	background-color: rgb(128, 187, 227); /* light blue */
	color: rgb(255, 255, 255); /* white */
	text-decoration: none;
	outline: none;
}
.button-link:active {
	box-shadow: 0 0 2px rgb(128, 187, 227); /* light blue */
	background-color: rgb(77, 137, 191); /* blue */
	color: rgb(255, 255, 255); /* white */
	text-decoration: none;
	outline: none;
}

/*****************
 * Form elements *
 *****************/
form {
	position: relative;
	text-align: right;
	line-height: 0; /* ensure <br> does not consume space */
}
form.processing::after { /* dark overlay with spinner */
	content:"";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* black */
	background-image: url('/img/ui/loading-spikes-4D89BF.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
}

/*** Sectioning ***/
form > fieldset {
	border: 2px dashed rgb(175, 178, 181); /* light gray */
	background-color: rgb(255, 255, 255); /* white */
}
form > fieldset > legend {
	color: rgb(175, 178, 181); /* light gray */
}
form > hr {
	width: 100%;
}
form > button:nth-last-of-type(odd) {
	margin-right: 0;
}

/*** User I/O Elements ***/
label, input, textarea, select, option {
	border-radius: 2px;
	box-shadow: none;
	font-family: 'Arimo', Arial, Helvetica, sans-serif;
	color: rgb(69, 70, 71); /* dark gray */
	opacity: 1;
	transition: box-shadow 0.2s, opacity 0.2s;
}
label {
	white-space: nowrap;
}
input, textarea, select {
	border: 1px solid rgb(175, 178, 181); /* light gray */
	background-color: rgb(255, 255, 255); /* white */
}
textarea {
	resize: none;
}

select {
	-webkit-appearance: none; /* hides drop-down arrow on webkit */
	-moz-appearance: none;    /* hides drop-down arrow on FF */
	appearance: none;         /* hides drop-down arrow (W3C) */
	background-image: url('/img/ui/down-arrow-454647.svg'); /* Note: can't use ::before and ::after on form elements, so have to use bg-img instead of unicode chars */;
	background-size: 10px 10px;
	background-position: right 10px center;
	background-repeat: no-repeat;
	cursor: pointer;
}
select::-ms-expand {display: none;} /* hides drop-down arrow on IE */
select::-ms-value {
	background-color: transparent; /* don't give selected value special color */
	color: rgb(69, 70, 71); /* dark gray */
}

input:focus,
input:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
	box-shadow: 0 0 2px rgb(128, 187, 227) inset; /* light blue */
	outline: none;
}
select:focus {
	color: transparent;
	text-shadow: 0 0 0 rgb(39, 40, 41); /* darker gray - hack to set text color without dotted outline */
}
select:-moz-focusring { 
	color: transparent;
	text-shadow: 0 0 0 rgb(39, 40, 41); /* darker gray - hack to set text color without dotted outline */
}
option:hover {
	box-shadow: 0 0 0 100px rgb(180, 217, 250) inset; /* lighter blue */
	background-color: rgb(180, 217, 250); /* lighter blue */
}
option:checked {
	background-color: rgb(128, 187, 227); /* light blue */
}
option:active {
	background-color: rgb(77, 137, 191); /* blue */
}

input:disabled,
textarea:disabled,
select:disabled {
	border: 1px solid rgba(175, 178, 181, 0.25); /* light gray */
	box-shadow: none;
	background-color: rgba(113, 115, 117, 0.25); /* gray */
	color: rgba(39, 40, 41, 0.25); /* darker gray */
}
select:disabled {
	color: transparent;
	text-shadow: 0 0 0 rgb(113, 115, 117); /* gray - hack to change text color without dotted outline */
}
input:invalid {
	box-shadow: 0 0 2px rgb(243, 150, 140) inset; /* salmon */
	outline:none;
}

output {
	display: block;
	height: 20px;
	font-style: italic;
	color: rgb(77, 137, 191); /* blue */
	white-space: nowrap;
	line-height: 20px;
	opacity: 0;
	transition: opacity 0.2s;
}
output.shown {
	opacity: 1;
}
output.error {
	color: rgb(243, 150, 140); /* salmon */
}

/*** Placeholders & Pseudo-Elements ***/
::-webkit-input-placeholder {
	color: rgba(175, 178, 181, 0.5); /* light gray */
	opacity: 1;
}
::-moz-placeholder {
	color: rgba(175, 178, 181, 0.5); /* light gray */
	opacity: 1;
}
:-ms-input-placeholder {
	color: rgba(175, 178, 181, 0.5); /* light gray */
	opacity: 1;
}

/* Hide placholders on focus */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }
textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

/* Hide placholders for disabled fileds */
input:disabled::-webkit-input-placeholder { color:transparent; }
input:disabled::-moz-placeholder { color:transparent; }
input:disabled:-ms-input-placeholder { color:transparent; }
textarea:disabled::-webkit-input-placeholder { color:transparent; }
textarea:disabled::-moz-placeholder { color:transparent; }
textarea:disabled:-ms-input-placeholder { color:transparent; }

/* Position clear input buttons for MS browsers */
::-ms-clear  {
	margin-right: -12px; /* position it closer to the right side of the input */
	width: 38px;
	height: 38px;
}

/* Hide spinners for number inputs */
input[type=number] {
	-moz-appearance: textfield; /* Hide spinner FF */
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none; /* Hide spinner webkit */
	margin: 0;
}

/*** Buttons ***/
button {
	padding: 0px 20px;
	border: none;
	border-radius: 2px;
	background-color: rgb(77, 137, 191); /* blue */
	font-family: 'Arimo', Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255); /* white */
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
	transition: background-color 0.1s, box-shadow 0.1s;
}
button:focus,
button:hover {
	box-shadow: 0 0 4px rgb(180, 217, 250); /* lighter blue */
	background-color: rgb(128, 187, 227); /* light blue */
	outline: none;
}
button:active {
	box-shadow: 0 0 2px rgb(128, 187, 227); /* light blue */
	background-color: rgb(77, 137, 191); /* blue */
}
button:disabled {
	box-shadow: none;
	background-color: rgba(113, 115, 117, 0.25); /* gray */
	cursor: default;
}

button[type=submit]::after {
	content: "▶"; /* Unicode right arrow U+25B6 */
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
	font-size: 10px;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}
button[type=reset]::before {
	content: "↻"; /* Unicode clockwise open circle U+21BB */
	display: inline-block;
	vertical-align: baseline;
	margin-right: 8px;
	font-size: 16px;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-weight: bold;
}

/***  Custom Radios & Checkboxes ***/
input[type=radio],
input[type=checkbox] {
	/*float: left; clear: both; /* hack to remove from document flow, but still keyboard accessible via tabs */
	position: absolute; /* hack to remove from document flow, but still keyboard accessible via tabs */
	width: 0;
	height: 0;
	opacity: 0;
}
input[type=radio] + label,
input[type=checkbox] + label {
	padding-left: 30px; /* pad to make text appear 10px after icon */
	height: auto; /* may span multple lines */
	background-size: 20px 20px;
	background-position: 0 15px; /* center the image over 50px */
	background-repeat: no-repeat;
	text-align: left;
	white-space: normal;
	cursor: pointer;
}
input[type=radio]:focus + label,
input[type=checkbox]:focus + label {
	outline: none;
	opacity: 0.75;
}
input[type=radio] + label:hover,
input[type=checkbox] + label:hover {
	opacity: 0.75;
}
input[type=radio]:disabled + label,
input[type=radio]:disabled + label:hover,
input[type=checkbox]:disabled + label,
input[type=checkbox]:disabled + label:hover {
	opacity: 0.25;
	cursor: default;
}

input[type=radio] + label {
	background-image: url('/img/ui/radio-unchecked-454647.svg');
}
input[type=radio]:checked + label {
	background-image: url('/img/ui/radio-checked-454647.svg');
}

input[type=checkbox] + label {
	background-image: url('/img/ui/checkbox-unchecked-454647.svg');
}
input[type=checkbox]:checked + label {
	background-image: url('/img/ui/checkbox-checked-454647.svg');
}

/*** Custom range inputs ***/
input[type=range] {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	overflow: hidden;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 70%;
	height: 5px;
	border: none;
	background-color: rgba(175, 178, 181, 0.75); /* light gray */
}
input[type=range]::-webkit-slider-thumb::before {
	content: ''; /* hack for slider first half */
	position: absolute;
	top: 7px;
	right: 20px;
	width: 100vw; /* hack - large enough to always be shown */
	height: 5px;
	background-color: rgb(77, 137, 191); /* blue */
	cursor: default;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	margin-top: -7px;
	height: 21px;
	width: 21px;
	border: none;
	border-radius: 50%;
	background-color: rgb(77, 137, 191); /* blue */
	cursor: pointer;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 5px;
	border: none;
	background-color: rgba(175, 178, 181, 0.75); /* light gray */
}
input[type=range]::-moz-range-progress {
	width: 100%;
	height: 5px;
	border: none;
	background-color: rgb(77, 137, 191); /* blue */
}
input[type=range]::-moz-range-thumb {
	height: 21px;
	width: 21px;
	border: none;
	border-radius: 50%;
	background-color: rgb(77, 137, 191); /* blue */
	cursor: pointer;
}

input[type=range]::-ms-track {
	height: 21px;
	border: 1px solid transparent; /* remove ugly border */
	background-color: transparent; /* use ms-fill-upper and lower instead */
	color: transparent; /*remove default tick marks */
}	
input[type=range]::-ms-fill-upper {
	border: 1px solid rgb(255, 255, 255); /* white - hack to remove ugly border; use form's bg color */
	border-radius: 1px;
	box-shadow: 0 0 0 7px rgb(255, 255, 255) inset; /* white - hack to remove track bg color; use form's bg color */
	background-color: rgba(175, 178, 181, 0.75); /* light gray */
}
input[type=range]::-ms-fill-lower {
	border: 1px solid rgb(255, 255, 255); /* white - hack to remove ugly border; use form's bg color */
	border-radius: 1px;
	box-shadow: 0 0 0 7px rgb(255, 255, 255) inset; /* white - hack to remove track bg color; use form's bg color */
	background-color: rgb(77, 137, 191); /* blue */
}
input[type=range]::-ms-thumb {
	height: 21px;
	width: 21px;
	border: none;
	border-radius: 50%;
	border-radius: 50%;
	background-color: rgb(77, 137, 191); /* blue */
	cursor: pointer;
}
input[type=range]:focus {
	box-shadow: none;
}
input[type=range]:focus::-webkit-slider-thumb::before,
input[type=range]:focus::-webkit-slider-thumb {
	background-color: rgb(128, 187, 227); /* light blue */
}
input[type=range]:focus::-moz-range-progress,
input[type=range]:focus::-moz-range-thumb {
	background-color: rgb(128, 187, 227); /* light blue */
}
input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-thumb {
	background-color: rgb(128, 187, 227); /* light blue */	
}
input[type=range]::-moz-focus-outer {
	border: none;
}
input[type=range]:active::-webkit-slider-thumb::before,
input[type=range]:active::-webkit-slider-thumb {
	background-color: rgb(128, 187, 227); /* light blue */
}
input[type=range]:active::-moz-range-progress,
input[type=range]:active::-moz-range-thumb {
	background-color: rgb(128, 187, 227); /* light blue */
}
input[type=range]:active::-ms-fill-lower,
input[type=range]:active::-ms-thumb {
	background-color: rgb(128, 187, 227); /* light blue */
}
input[type=range]:hover {
	box-shadow: none;
}

/*** Custom file picker ***/
input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
input[type=file] + label { /* simulate button - use same styles as button */
	border: none;
	background-color: rgb(77, 137, 191); /* blue */
	color: rgb(255, 255, 255); /* white */
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
	transition: background-color 0.1s, box-shadow 0.1s;
}
input[type=file] + label::after {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	margin-left: 10px;
	width: 20px;
	height: 25%;
	background-size: contain;
	background-image: url('/img/ui/folder-opened-FFFFFF.svg');
	background-position: left center;
	background-repeat: no-repeat;
}
input[type=file]:focus + label,
input[type=file] + label:hover {
	box-shadow: 0 0 2px rgb(180, 217, 250); /* lighter blue */
	background-color: rgb(128, 187, 227); /* light blue */
	outline: none;
}
input[type=file]:active + label {
	box-shadow: 0 0 2px rgb(128, 187, 227); /* light blue */
	background-color: rgb(77, 137, 191); /* blue */
}
input[type=file]:disabled + label {
	box-shadow: none;
	background-color: rgba(113, 115, 117, 0.25); /* gray */
	cursor: default;
}

/*** Custom search bar ***/
input[type=search] {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid rgb(175, 178, 181); /* light gray */
	border-right: none;
}
input[type=search] + button {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border: none;
	box-shadow: none;
	background-image: url('/img/ui/search-ECF0F4.svg');
	background-position: center;
	background-size: 40% 40%;
	background-repeat: no-repeat;
}
input[type=search] + button::before,
input[type=search] + button::after {
	display: none; /* remove any arrow icons affixed to submit buttons */
}

/********************
 *  Custom Buttons  *
 ********************/
/*** Close buttons ***/
.close-button {
	box-shadow: none;
	background-color: transparent;
	color: rgb(175, 178, 181); /* light gray */
	transition: color 0.2s, text-shadow 0.2s;
}
.close-button::after {
	content:'×';
	font-size: 35px;
}
.close-button:focus,
.close-button:hover,
.close-button:active {
	box-shadow: none;
	background-color:  transparent;
	color: rgb(248, 250, 252); /* off white */
	text-shadow: 0 0 2px rgb(69, 70, 71); /* dark gray */
}

/*** Add / Edit / Delete buttons */
.add-button::before {
	content:"➕"; /* Unicode Heavy Plus Sign U+2796 */
	display: inline-block;
	vertical-align: baseline;
	margin-right: 8px;
	font-size: 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.download-button::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	margin-right: 10px;
	width: 20px;
	height: 25%;
	background-size: contain;
	background-image: url('/img/ui/download-FFFFFF.svg');
	background-position: right center;
	background-repeat: no-repeat;
}

.edit-button::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	margin-right: 10px;
	width: 20px;
	height: 25%;
	background-size: contain;
	background-image: url('/img/ui/pen-FFFFFF.svg');
	background-position: right center;
	background-repeat: no-repeat;
}

.delete-button::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	margin-right: 10px;
	width: 20px;
	height: 25%;
	background-size: contain;
	background-image: url('/img/ui/bin-FFFFFF.svg');
	background-position: right center;
	background-repeat: no-repeat;
}

/* More / Less Buttons */
.more-button::after {
	content:"▼"; /* Unicode down arrow U+25BC */
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
	font-size: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.less-button::after {
	content:"▲"; /* Unicode up arrow U+25B2 */
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
	font-size: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Prev & Next Button */
.prev-button::before {
	content: "◀"; /* Unicode left arrow U+25C0 */
	display: inline-block;
	vertical-align: top;
	font-size: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-right: 8px;
}
.next-button::after {
	content: "▶"; /* Unicode right arrow U+25B6 */
	display: inline-block;
	vertical-align: top;
	font-size: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-left: 8px;
}

/****************
 *  Pagination  *
 ****************/
.pagination > button {
	box-shadow: none;
	border-radius: 0;
	outline: none;
}
.pagination > button:focus,
.pagination > button:hover {
	box-shadow: none;
	outline: none;
}
.pagination > button:active {
	box-shadow: none;
	outline: none;
}
.pagination > button.current {
	font-weight: bold;
	text-decoration: underline;
}
.pagination > button.current::before,
.pagination > button.current::after {
	content: "\00a0"; /* Unicode space */
	text-decoration: underline;
}

.pagination > button,
.pagination > .spacer {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}
.pagination > .prev-button,
.pagination > .next-button {
	width: 100px;
}
.pagination > .spacer {
	width: 0;
}

/***********************
 *     Font Sizing     *
 ***********************/
@media (min-width: 1440px) { /* min-content: 1280px, margin: 80px */
	h1 {
		padding-bottom: 20px;
		font-size: 40px;
		line-height: 80px;
	}
	h2 {
		padding-bottom: 32px;
		font-size: 32px;
		line-height: 47px;
	}
	h3 {
		padding-bottom: 26px;
		font-size: 26px;
		line-height: 40px;
	}
	h4 {
		padding-bottom: 20px;
		font-size: 20px;
		line-height: 34px;
	}
	p, ul, ol, dl {
		font-size: 17px;
		line-height: 31px;
	}
	code {
		font-size: 17px;
		line-height: 22px;
	}
	small {
		font-size: 14px;
	}

	figcaption {
		font-size: 16px;
		line-height: 24px;
	}
	blockquote > footer {
		font-size: 18px;
		line-height: 22px;
	}
	th, td {
		font-size: 17px;
		line-height: 27px;
	}
	address {
		font-size: 18px;
		line-height: 34px;
	}
	nav > a {
		font-size: 17px;
	}

	label, input, textarea, select, option, button {
		font-size: 17px;
	}
	input[type=radio] + label,
	input[type=checkbox] + label {
		padding-top: 9.5px;
		padding-bottom: 9.5px;
		line-height: 31px;
	}
}
@media (min-width: 1024px) and (max-width: 1439.9px) { /* min-content: 920px, margin: 52px */
	h1 {
		padding-bottom: 18px;
		font-size: 36px;
		line-height: 72px;
	}
	h2 {
		padding-bottom: 28px;
		font-size: 28px;
		line-height: 41px;
	}
	h3 {
		padding-bottom: 22px;
		font-size: 22px;
		line-height: 34px;
	}
	h4 {
		padding-bottom: 18px;
		font-size: 18px;
		line-height: 30px;
	}
	p, ul, ol, dl {
		font-size: 15px;
		line-height: 26px;
	}
	code {
		font-size: 15px;
		line-height: 20px;
	}
	small {
		font-size: 12px;
	}

	figcaption {
		font-size: 14px;
		line-height: 21px;
	}
	blockquote > footer {
		font-size: 15px;
		line-height: 20px;
	}
	th, td {
		font-size: 15px;
		line-height: 23px;
	}
	address {
		font-size: 16px;
		line-height: 27px;
	}
	nav > a {
		font-size: 15px;
	}
	
	label, input, textarea, select, option, button {
		font-size: 15px;
	}
	input[type=radio] + label,
	input[type=checkbox] + label {
		padding-top: 12px;
		padding-bottom: 12px;
		line-height: 26px;
	}
}
@media (min-width: 768px) and (max-width: 1023.9px) { /* min-content: 680px, margin: 44px */
	h1 {
		padding-bottom: 18px;
		font-size: 36px;
		line-height: 49px;
	}
	h2 {
		padding-bottom: 28px;
		font-size: 28px;
		line-height: 40px;
	}
	h3 {
		padding-bottom: 22px;
		font-size: 22px;
		line-height: 33px;
	}
	h4 {
		padding-bottom: 18px;
		font-size: 18px;
		line-height: 28px;
	}
	p, ul, ol, dl {
		font-size: 15px;
		line-height: 25px;
	}
	code {
		font-size: 15px;
		line-height: 19px;
	}
	small {
		font-size: 12px;
	}

	figcaption {
		font-size: 14px;
		line-height: 20px;
	}
	blockquote > footer {
		font-size: 15px;
		line-height: 20px;
	}
	th, td {
		font-size: 15px;
		line-height: 22px;
	}
	address {
		font-size: 16px;
		line-height: 27px;
	}
	nav > a {
		font-size: 15px;
	}

	label, input, textarea, select, option, button {
		font-size: 15px;
	}
	input[type=radio] + label,
	input[type=checkbox] + label {
		padding-top: 12.5px;
		padding-bottom: 12.5px;
		line-height: 25px;
	}
}
@media (min-width: 640px) and (max-width: 767.9px) { /* min-content: 570px, margin: 30px */
	h1 {
		padding-bottom: 18px;
		font-size: 36px;
		line-height: 49px;
	}
	h2 {
		padding-bottom: 28px;
		font-size: 28px;
		line-height: 39px;
	}
	h3 {
		padding-bottom: 22px;
		font-size: 22px;
		line-height: 32px;
	}
	h4 {
		padding-bottom: 18px;
		font-size: 18px;
		line-height: 27px;
	}
	p, ul, ol, dl {
		font-size: 15px;
		line-height: 24px;
	}
	code {
		font-size: 15px;
		line-height: 19px;
	}
	small {
		font-size: 12px;
	}

	figcaption {
		font-size: 14px;
		line-height: 19px;
	}
	blockquote > footer {
		font-size: 15px;
		line-height: 20px;
	}
	th, td {
		font-size: 15px;
		line-height: 21px;
	}
	address {
		font-size: 15px;
		line-height: 24px;
	}
	nav > a {
		font-size: 15px;
	}

	label, input, textarea, select, option, button {
		font-size: 15px;
	}
	input[type=radio] + label,
	input[type=checkbox] + label {
		padding-top: 13px;
		padding-bottom: 13px;
		line-height: 24px;
	}
}
@media (min-width: 480px) and (max-width: 639.9px) { /* min-content: 430px, margin: 25px */
	h1 {
		padding-bottom: 16px;
		font-size: 32px;
		line-height: 43px;
	}
	h2 {
		padding-bottom: 26px;
		font-size: 26px;
		line-height: 36px;
	}
	h3 {
		padding-bottom: 22px;
		font-size: 22px;
		line-height: 31px;
	}
	h4 {
		padding-bottom: 18px;
		font-size: 18px;
		line-height: 26px;
	}
	p, ul, ol, dl {
		font-size: 15px;
		line-height: 23px;
	}
	code {
		font-size: 16px;
		line-height: 18px;
	}
	small {
		font-size: 12px;
	}

	figcaption {
		font-size: 14px;
		line-height: 19px;
	}
	blockquote > footer {
		font-size: 15px;
		line-height: 20px;
	}
	th, td {
		font-size: 15px;
		line-height: 20px;
	}
	address {
		font-size: 15px;
		line-height: 23px;
	}
	nav > a {
		font-size: 15px;
	}

	label, input, textarea, select, option, button {
		font-size: 15px;
	}
	input[type=radio] + label,
	input[type=checkbox] + label {
		padding-top: 13.5px;
		padding-bottom: 13.5px;
		line-height: 23px;
	}
}
@media (max-width: 479.9px) { /* min-content: 280px, margin: 20px */
	h1 {
		padding-bottom: 15px;
		font-size: 30px;
		line-height: 40px;
	}
	h2 {
		padding-bottom: 26px;
		font-size: 26px;
		line-height: 35px;
	}
	h3 {
		padding-bottom: 22px;
		font-size: 22px;
		line-height: 30px;
	}
	h4 {
		padding-bottom: 18px;
		font-size: 18px;
		line-height: 25px;
	}
	p, ul, ol, dl {
		font-size: 15px;
		line-height: 22px;
	}
	code {
		font-size: 15px;
		line-height: 16px;
	}
	small {
		font-size: 12px;
	}

	figcaption {
		font-size: 14px;
		line-height: 18px;
	}
	blockquote > footer {
		font-size: 16px;
		line-height: 20px;
	}
	th, td {
		font-size: 15px;
		line-height: 20px;
	}
	address {
		font-size: 15px;
		line-height: 22px;
	}
	nav > a {
		font-size: 15px;
	}

	label, input, textarea, select, option, button {
		font-size: 15px;
	}
	input[type=radio] + label,
	input[type=checkbox] + label {
		padding-top: 14px;
		padding-bottom: 14px;
		line-height: 22px;
	}
}

/**********************
 *   Default Layout   *
 **********************/
@media (min-width: 1440px) { /* min-content: 1240px, margin: 100px */
	/* Block elements */
	p, ul, ol, dl,
	figure, blockquote, pre,
	table, address, hr,
	.pagination {
		margin-bottom: 31px;
	}

	ul, ol, dl {
		padding-left: 64px;
	}
	ul > li::before,
	ol > li::before {
		margin-left: -31px; /* bring outside of text */
		width: 31px; /* ensure same as margin */
	}
	dd + dt {
		padding-top: 31px;
	}

	figcaption {
		padding-top: 8px;	
	}

	blockquote {
		padding: 31px 31px 31px 93px; /* extra left padding for quote mark **/
		border-left-width: 16px;
	}
	blockquote::before { /* quote mark */
		margin-left: -62px;
		font-size: 62px;
	}
	
	pre {
		padding: 16px 31px;
	}

	th, td {
		padding: 15px 15px;
	}

	.accordion {
		/*max-height: 66px; /* accomodate h3 */
		max-height: 119px;
	}

	address a::before {
		padding-left: 33px; /* sme as lists padding plus list item margin */
		background-size: 18px 18px;
	}

	hr {
		width: calc(100% - 80px);
	}
	nav > hr {
		margin: 0 54px;
		width: calc(100% - 108px);
	}

	nav > a {
		padding-left: 54px;
		height: 54px;
		background-position: 16px 16px;
		background-size: 22px 22px;
		line-height: 54px;
	}

	/* Form elements */
	form {
		padding: 40px;
		width: 740px; /* 80 (padding) + 200 (label) + 20 (margin) + 440 (desired input size) */
	}
	fieldset {
		margin: 15.5px 0;
		padding: 40px 38px; /* reduce padding due to border */
	}
	
	label, input, textarea, select {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 31px; /* Same as block element */
		height: 54px;
		line-height: 54px;
	}
	option, button, .button-link {
		height: 54px;
		line-height: 54px;
	}
	label {
		margin-right: 20px;
		width: 200px;
		text-align: right;
	}
	input, textarea, select {
		padding: 0 16px;
		width: calc(100% - 220px);
	}
	option {
		padding: 16px 16px; /* top/bottom padding only works on FF */
	}
	fieldset > label {
		margin-right: 20px;
		width: 160px; /* account for fieldset padding */
	}
	fieldset > input,
	fieldset > textarea,
	fieldset > select {
		width: calc(100% - 180px);
	}
	input[type=radio] + label,
	input[type=checkbox] + label {
		margin-right: 0;
		width: calc(100% - 220px); /* desired 440px */
	}
	input[type=file] + label {
		margin-right: 230px;
		width: 210px; /* same as button */
	}
	input[type=search] {
		width: calc(100% - 54px);
	}
	input[type=search] + button {
		width: 54px;
		height: 54px;
	}
	input[name=birth-day],
	input[name=birth-month] {
		margin-right: 20px;
		width: 120px;
	}
	input[name=birth-year] {
		width: 160px;
	}
	textarea {
		padding: 16px 16px;
		height: 210px; /* 8 lines worth */
		line-height: 22px;
	}
	form > h2 {
		margin-left: 220px; /* align with input */
		text-align: left;
	}
	form > output {
		margin-bottom: 20px;
	}
	form > button {
		display: inline-block;
		vertical-align: top;
		margin: 0 20px 20px 0;
		width: 210px; /* two buttons align with input (440px) */
	}
}
@media (min-width: 1024px) and (max-width: 1439.9px) { /* min-content: 920px, margin: 52px */
	/* Block element styles */
	p, ul, ol, dl,
	figure, blockquote, pre,
	table, address, hr,
	.pagination {
		margin-bottom: 26px;
	}
	
	ul, ol, dl {
		padding-left: 26px;
	}
	ul > li::before,
	ol > li::before {
		margin-left: -26px; /* bring outside of text */
		width: 26px; /* ensure same as margin */
	}
	dd + dt {
		padding-top: 26px;
	}
	figcaption {
		padding-top: 7px;
	}
	blockquote {
		padding: 26px 26px 26px 78px; /* extra left padding for quote mark **/
		border-left-width: 12px;
	}
	blockquote::before { /* quote mark */
		margin-left: -52px;
		font-size: 52px;
	}
	
	pre {
		padding: 13px 26px;
	}

	th, td {
		padding: 13px 13px;
	}

	.accordion {
		/*max-height: 56px; /* accomodate h3 */
		max-height: 95px;
	}

	address a::before {
		padding-left: 26px; /* sme as lists padding */
		background-size: 16px 16px;
	}

	hr {
		width: calc(100% - 52px);
	}
	nav > hr {
		margin: 0 50px;
		width: calc(100% - 100px);
	}

	nav > a {
		padding-left: 50px;
		height: 50px;
		background-position: 15px 15px;
		background-size: 20px 20px;
		line-height: 50px;
	}

	/* Form elements */
	form {
		padding: 26px;
		width: 652px; /* 52 (padding) + 180 (label) + 20 (margin) + 400 (desired input size) */
	}
	fieldset {
		margin: 13px 0;
		padding: 26px 24px; /* reduce padding due to border */
	}

	label, input, textarea, select {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 26px;
		height: 50px;
		line-height: 50px;
	}
	option, button, .button-link {
		height: 50px;
		line-height: 50px;
	}
	label {
		margin-right: 20px;
		width: 180px;
		text-align: right;
	}
	input, textarea, select {
		padding: 0 13px;
		width: calc(100% - 200px);
	}
	option {
		padding: 15px 13px; /* top/bottom padding only works on FF */
	}
	fieldset > label {
		width: 154px; /* account for fieldset padding */
	}
	fieldset > input,
	fieldset > textarea,
	fieldset > select {
		width: calc(100% - 174px); /* account for fieldset padding */
	}
	input[type=radio] + label,
	input[type=checkbox] + label {
		margin-right: 0;
		width: calc(100% - 200px);  /* desired 400px */
	}
	input[type=file] + label {
		margin-right: 206.5px;
		width: 193.5px; /* same as button */
	}
	input[type=search] {
		width: calc(100% - 50px);
	}
	input[type=search] + button {
		width: 50px;
		height: 50px;
	}
	input[name=birth-day],
	input[name=birth-month] {
		display: inline-block;
		vertical-align: top;
		margin-right: 13px;
		width: 110px;
	}
	input[name=birth-year] {
		display: inline-block;
		vertical-align: top;
		width: 154px;
	}
	textarea {
		padding: 13px 13px;
		height: 168px; /* 7 lines worth */
		line-height: 20px;
	}
	form > h2 {
		margin-left: 200px; /* align with input */
		text-align: left;
	}
	form > output {
		margin-bottom: 13px;
	}
	form > button {
		display: inline-block;
		vertical-align: top;
		margin: 0 13px 13px 0;
		width: 193.5px; /* two buttons align with input (400px) */
	}
}
@media (min-width: 768px) and (max-width: 1023.9px) { /* min-content: 680px, margin: 44px */
	/* Block element styles */
	p, ul, ol, dl,
	figure, blockquote, pre,
	table, address, hr,
	.pagination {
		margin-bottom: 25px;
	}

	ul, ol, dl {
		padding-left: 37.5px; /* extra indent */
	}
	ul > li::before,
	ol > li::before {
		margin-left: -25px; /* bring outside of text */
		width: 25px; /* ensure same as margin */
	}
	dd + dt {
		padding-top: 25px;
	}

	figcaption {
		padding-top: 6px;
	}

	blockquote {
		padding: 25px 25px 25px 50px;
		border-left-width: 13px;
	}
	blockquote::before {
		margin-left: -30px;
		font-size: 36px;
	}

	pre {
		padding: 11px 22px;
	}

	th, td {
		padding: 11px 11px;
	}

	.accordion {
		/*max-height: 55px; /* accomodate h3 */
		max-height: 90px;
	}

	address a::before {
		padding-left: 37.5px; /* sme as lists padding */
		background-size: 16px 16px;
	}

	hr {
		width: calc(100% - 44px);
	}
	nav > hr {
		margin: 0 50px;
		width: calc(100% - 100px);
	}

	nav > a {
		padding-left: 50px;
		height: 50px;
		background-position: 15px 15px;
		background-size: 20px 20px;
		line-height: 50px;
	}

	/* Form elements */
	form {
		padding: 22px;
		width: 446px;
	}
	fieldset {
		margin: 11px 0;
		padding: 22px 20px;  /* reduce padding due to border */
	}

	label, input, textarea, select {
		display: block;
		width: 100%;
		height: 50px;
		line-height: 50px;
	}
	option, button, .button-link {
		height: 50px;
		line-height: 50px;
	}
	input[type=search] {
		width: calc(100% - 50px);
	}
	input[type=search] + button {
		width: 50px;
		height: 50px;
	}
	input[name=birth-day],
	input[name=birth-month] {
		display: inline-block;
		vertical-align: top;
		margin-right: 11px;
		width: 112px;
	}
	input[name=birth-year] {
		display: inline-block;
		vertical-align: top;
		width: 156px;
	}
	label {
		margin: 0;
		text-align: left;
	}
	input, textarea, select {
		margin-bottom: 11px;
		padding: 0 11px;
	}
	option {
		padding: 15px 11px; /* top/bottom padding only works on FF */
	}
	textarea {
		padding: 11px 11px;
		height: 144px; /* 6 lines worth */
		line-height: 20px;
	}
	form > h2 {
		margin-left: 0;
		text-align: left;
	}
	form > output {
		margin-bottom: 11px;
	}
	form > button {
		display: inline-block;
		vertical-align: top;
		margin: 11px 11px 11px 0;
		width: calc(50% - 5.5px);
	}
}
@media (min-width: 640px) and (max-width: 767.9px) { /* min-content: 580px, margin: 30px */
	/* Block element styles */
	p, ul, ol, dl,
	figure, blockquote, pre,
	table, address, hr,
	.pagination {
		margin-bottom: 24px;
	}

	ul, ol, dl {
		padding-left: 24px;
	}
	ul > li::before,
	ol > li::before {
		margin-left: -24px; /* bring outside of text */
		width: 24px; /* ensure same as margin */
	}
	dd + dt {
		padding-top: 24px;
	}
	
	figcaption {
		padding-top: 5px;
	}

	blockquote {
		padding: 24px 24px 24px 48px;
		border-left-width: 12px;
	}
	blockquote::before {
		margin-left: -28px;
		font-size: 36px;
	}
	
	pre {
		padding: 12px 24px;
	}
	
	th, td {
		padding: 10px 10px;
	}

	.accordion {
		/*max-height: 54px; /* accomodate h3 */
		max-height: 89px;
	}

	address a::before {
		padding-left: 24px; /* sme as lists padding */
		background-size: 15px 15px;
	}

	hr {
		width: calc(100% - 30px);
	}
	nav > hr {
		margin: 0 50px;
		width: calc(100% - 100px);
	}

	nav > a {
		padding-left: 50px;
		height: 50px;
		background-position: 15px 15px;
		background-size: 20px 20px;
		line-height: 50px;
	}

	/* Form elements */
	form {
		padding: 15px;
		width: 450px;
	}
	fieldset {
		margin: 7.5px 0;
		padding: 15px 13px; /* reduce padding due to border */
	}
	label, input, textarea, select {
		display: block;
		width: 100%;
		height: 50px;
		line-height: 50px;
	}
	option, button, .button-link {
		height: 50px;
		line-height: 50px;
	}
	input[type=search] {
		width: calc(100% - 50px);
	}
	input[type=search] + button {
		width: 50px;
		height: 50px;
	}
	input[name=birth-day],
	input[name=birth-month] {
		display: inline-block;
		vertical-align: top;
		margin-right: 12px;
		width: 116px;
	}
	input[name=birth-year] {
		display: inline-block;
		vertical-align: top;
		width: 164px;
	}
	label {
		margin: 0;
		text-align: left;
	}
	input, textarea, select {
		margin: 0;
		padding: 0 10px;
	}
	option {
		padding: 15px 10px; /* top/bottom padding only works on FF */
	}
	textarea {
		padding: 10px 10px;
		height: 142px; /* 6 lines worth */
		line-height: 20px;
	}
	form > h2 {
		margin-left: 0;
		text-align: left;
	}
	form > output {
		margin-bottom: 10px;
	}
	form > button {
		display: inline-block;
		vertical-align: top;
		margin: 20px 10px 10px 0;
		width: calc(50% - 5px);
	}
}
@media (min-width: 480px) and (max-width: 639.9px) { /* min-content: 430px, margin: 25px */
	/* Block element styles */
	p, ul, ol, dl,
	figure, blockquote, pre,
	table, address, hr,
	.pagination {
		margin-bottom: 23px;
	}

	ul, ol, dl {
		padding-left: 23px;
	}
	ul > li::before,
	ol > li::before {
		margin-left: -23px; /* bring outside of text */
		width: 23px; /* ensure same as margin */
	}
	dd + dt {
		margin-top: 23px;
	}

	figcaption {
		padding-top: 5px;
	}

	blockquote {
		padding: 23px 11.5px 23px 23px;
		border-left-width: 11.5px;
	}
	blockquote::before {
		display: none;
	}
	
	pre {
		padding: 12.5px 6.25px;
	}

	th, td {
		padding: 10px 10px;
	}
	.accordion {
		/*max-height: 53px; /* accomodate h3 */
		max-height: 82px;
	}
	address a::before {
		padding-left: 23px; /* sme as lists padding */
		background-size: 14px 14px;
	}
	hr {
		width: calc(100% - 25px);
	}
	nav > hr {
		margin: 0 50px;
		width: calc(100% - 100px);
	}

	nav > a {
		padding-left: 50px;
		height: 50px;
		background-position: 15px 15px;
		background-size: 20px 20px;
		line-height: 50px;
	}

	/* Form elements */
	form {
		padding: 12.5px;
		width: 425px;
	}
	fieldset {
		margin: 6.25px;
		padding: 12.5px 10.5px; /* reduce padding due to border */
	}
	
	label, input, textarea, select {
		display: block;
		width: 100%;
		height: 50px;
		line-height: 50px;
	}
	option, button, .button-link {
		height: 50px;
		line-height: 50px;
	}
	input[type=search] {
		width: calc(100% - 50px);
	}
	input[type=search] + button {
		width: 50px;
		height: 50px;
	}
	input[name=birth-day],
	input[name=birth-month] {
		display: inline-block;
		vertical-align: top;
		margin-right: 12px;
		width: 111px;
	}
	input[name=birth-year] {
		display: inline-block;
		vertical-align: top;
		width: 154px;
	}
	label {
		margin: 0;
		text-align: left;
	}
	input, textarea, select {
		margin: 0;
		padding: 0 10px;
	}
	option {
		padding: 15px 10px; /* top/bottom padding only works on FF */
	}
	textarea {
		padding: 10px 10px;
		height: 142px; /* 6 lines worth */
		line-height: 20px;
	}
	form > h2 {
		margin-left: 0;
		text-align: left;
	}
	form > output {
		margin-bottom: 10px;
	}
	form > button {
		display: inline-block;
		vertical-align: top;
		margin: 20px 10px 10px 0;
		width: calc(50% - 5px);
	}
}
@media (max-width: 479.9px) { /* min-content: 280px, margin: 20px */
	/* Block element styles */
	p, ul, ol, dl,
	figure, blockquote, pre,
	table, address, hr,
	.pagination {
		margin-bottom: 22px;
	}

	ul, ol, dl {
		padding-left: 22px;
	}
	
	ul > li::before,
	ol > li::before {
		margin-left: -22px; /* bring outside of text */
		width: 22px; /* ensure same as margin */
	}
	dd + dt {
		margin-top: 22px;
	}
	figcaption {
		padding-top: 4px;
	}
	blockquote {
		padding: 22px 5px 22px 10px;
		border-left-width: 5px;
	}
	blockquote::before {
		display: none;
	}
	
	pre {
		padding: 10px 5px;
	}

	th, td {
		padding: 10px 10px;
	}
	.accordion {
		/*max-height: 52px; /* accomodate h3 */
		max-height: 81px;
	}
	address a::before {
		padding-left: 22px; /* sme as lists padding */
		background-size: 13px 13px;
	}
	hr {
		width: calc(100% - 20px);
	}
	nav > hr {
		margin: 0 50px;
		width: calc(100% - 100px);
	}

	nav > a {
		padding-left: 50px;
		height: 50px;
		background-position: 15px 15px;
		background-size: 20px 20px;
		line-height: 50px;
	}

	/* Form elements */
	form {
		padding: 5px;
		width: 100%;
	}
	fieldset {
		margin: 5px 0;
		padding: 10px 5px;
	}
	label, input, textarea, select {
		display: block;
		width: 100%;
		height: 50px;
		line-height: 50px;
	}
	option, button, .button-link {
		height: 50px;
		line-height: 50px;
	}
	input[type=search] {
		width: calc(100% - 50px);
	}
	input[type=search] + button {
		width: 50px;
		height: 50px;
	}
	input[name=birth-day],
	input[name=birth-month] {
		display: inline-block;
		vertical-align: top;
		margin-right: 4%;
		width: 23%;
	}
	input[name=birth-year] {
		display: inline-block;
		vertical-align: top;
		width: 46%;
	}
	label {
		margin: 0;
		text-align: left;
	}
	input, textarea, select {
		margin: 0;
		padding: 0 10px;
	}
	option {
		padding: 15px 10px; /* top/bottom padding only works on FF */
	}
	textarea {
		padding: 10px 10px;
		height: 142px; /* 6 lines worth */
		line-height: 20px;
	}
	form > h2 {
		margin-left: 0;
		text-align: left;
	}
	form > output {
		margin-bottom: 5px;
	}
	form > button {
		display: inline-block;
		vertical-align: top;
		margin: 20px 10px 10px 0;
		width: calc(50% - 5px);
	}
}